<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Console">
            <directory suffix="Test.php">./tests/Console</directory>
        </testsuite>

        <testsuite name="Listeners">
            <directory suffix="Test.php">./tests/Listeners</directory>
        </testsuite>

        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>

        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>

        <testsuite name="Models">
            <directory suffix="Test.php">./tests/Models</directory>
        </testsuite>

        <testsuite name="Domains">
            <directory suffix="Test.php">./tests/Domains</directory>
        </testsuite>

        <testsuite name="Services">
            <directory suffix="Test.php">./tests/Services</directory>
        </testsuite>

        <testsuite name="Externals">
            <directory suffix="Test.php">./tests/Externals</directory>
        </testsuite>

        <testsuite name="Controllers">
            <directory suffix="Test.php">./tests/Controllers</directory>
        </testsuite>

        <testsuite name="Repositories">
            <directory suffix="Test.php">./tests/Repositories</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
        </whitelist>
    </filter>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>
        <env name="MAIL_DRIVER" value="array"/>
    </php>
</phpunit>
